.magic-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
  padding: 0;
}

/* S */
.magic-sm {
  width: 150px;
  height: 42px;
  font-size: 13px;
}

/* M */
.magic-md {
  width: 180px;
  height: 48px;
  font-size: 14px;
}

/* L */
.magic-lg {
  width: 220px;
  height: 56px;
  font-size: 16px;
}
